<!DOCTYPE html>
<html lang="en">
<head>
    <!--This will show case user-inputted data inserted in the user_form page -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display User Info</title>
    <link rel="stylesheet" href="/directory_style.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Directory Menu</button>
        <div class="dropdown-content">
          <!--For links: Use their WEBSITE extensions, NOT their file directory extensions -->
          <a href="/form">Form Page</a>
          <a href="static_page.html">Static HTML page</a>
          <a href="/chairs/catalog">Store results page</a>
        </div>
      </div>
</body>
</html>