<!DOCTYPE html>
<html lang="en">
<head>
    <!--This will show case user-inputted data inserted in the user_form page -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display User Info</title>
    <link rel="stylesheet" href="/directory_style.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
          <a href="/views/user_form.ejs">Link 1</a>
          <a href="/public/static_page.html">Link 2</a>
          <a href="public/media/elmo_chair.png">Link 3</a>
        </div>
      </div>
</body>
</html>