<!-- This is the dynamic webpage that comes up when the /site page is called -->

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Html files that want to work with the ejs rendering engine need to take that engine's file extension name -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- the forward slash preceding the href for the css page is important. Deeper routed pages need it to locate the page, for some reason -->
    <link rel="stylesheet" href="/main_page_style.css"/>
    
    <title>My First Webpage That Inserts Dynamic Javascript</title>
</head>
<body>
    
    <div class="header-div">
        <h2>
            Chair.
        </h2>
    </div>
    
    <p class="construction-message">Page under construction</p>

    <!-- Code block to send input information over to a javascript file-->
    <form class="search-structure" action="/chairs" method="POST">
        
        <div class="search-bar-div">
            <label class="search-bar">
                Search<input type="text" name="searchQuery" value="<%= locals.searchQuery %>" />
            </label>
        </div>
        
        <button class="sponge-button">
            <img class="sponge" src="/media/SpongeChair.png" alt="Display Error">
        </button>

    </form>

<center>

    <!-- The weird syntax below is how to get javascript running into this file from elsewhere. All except last are vars from the server.js render statement -->
    <!-- The double bars indicate a default value to be used if the variable searched for is undefined in the javascript file. Very useful, don't forget -->
    <p class="js-variables">Result of js variable multiplication is: <%= locals.number * locals.number || 2 %> <br> 
        <%= locals.message || 'Hello there, visitor' %> <br> <%= locals.bird || 'Robin' %></p>
</center>

</body>
</html>