<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/search_results_style.css"/>
    <title>A catalogue of all available items</title>
</head>
<body>

    <center>
    <h2>Showing results for search: <%= keyWord || 'Key Word Error' %> </h2>

    <img src="/media/elmo_chair.png" alt="Missing Image">
    <img src="/media/fancy_chair.png" alt="Missing Image">
    <img src="/media/hulk_chair.png" alt="Missing Image">
    <img src="/media/SpongeChair.png" alt="Missing Image">
    </center>

</body>
</html>