<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/search_results_style.css"/>
    <title>A catalogue of all available items</title>
</head>
<body>

    <div class="header-div">
        <h2 class="result-header">Showing results for search: <%= keyWord || 'Key Word Error' %> </h2>
    </div>

    <div class="result-grid">

        <div class="result-unit">
    
            <label class="result-label" for="elmo_chair">Elmo Chair</label>

            <img id="elmo_chair" src="/media/elmo_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="fancy_chair">Fancy Chair</label>

            <img id="fancy_chair" src="/media/fancy_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="hulk_chair">Hulk Chair</label>

            <img id="hulk_chair" src="/media/hulk_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="sponge_chair">Sponge Chair</label>
            
            <img id="sponge_chair" src="/media/SpongeChair.png" alt="Missing Image">

        </div>

        <div class="result-unit">
    
            <label class="result-label" for="swaggy_chair">Swaggy Chair</label>

            <img id="swaggy_chair" src="/media/swaggy_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="casual_chair">Casual Chair</label>

            <img id="casual_chair" src="/media/casual_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="discount_chair">Discount Chair</label>

            <img id="discount_chair" src="/media/discount_chair.png" alt="Missing Image">

        </div>

        <div class="result-unit">

            <label class="result-label" for="sponge_chair">Chav Chair</label>
            
            <img id="chav_chair" src="/media/chav_chair.png" alt="Missing Image">

        </div>


    </div>

    <div class="bottom-bar">
        <div>
            about
        </div>
        <div>
            directory
        </div>
        <div>
            contact
        </div>
    </div>

</body>
</html>