<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form_style.css">
    <title>User Info Inputs</title>
</head>
<body>

    <div class="header-div">
        <h1 class="header-text">
            User Information Form
        </h1>
    </div>
    
    <div class="form-section">
        <div class="form-div"></div>
        <form action="/" method="POST">
            <!-- For these inputs to work, form action="" must contain the extension to the file that will process the information-->
            <!-- input name="" must contain and match(?) the name of the value sent to the javascript file via the value="" parameter-->
            <label class="input-label" for="fname">First name:</label>
            <input class="input-box" type="text" placeholder=<%= locals.prenom || "jimbo" %>  id="fname" name="firstName" value="<%= locals.firstName %>"><br><br>
            <label class="input-label" for="lname">Last name:</label>
            <input class="input-box" type="text" placeholder=<%= locals.nom || "neutron" %> id="lname" name="lastName" value="<%= locals.lastName %>"><br><br>
            <input class="input-button" type="submit" value="Submit">
        </form>
    </div>

</body>
</html>