body {
    background-color: pink;
}

.friendly-div {
    outline-style: solid;
    outline-color: purple;
    height: 540px;
}

.friendly-text {
    color: rgb(151, 7, 7);
    margin-top: 175px;
    font-size: 25px;
    line-height: 30px;
    animation: mymove 5s infinite;
}

.friendly-text:hover {
    color: green;
}

@keyframes mymove {
    50% {line-height: 75px;}
}

.interaction-section {
    margin-top: 278px;
    background-color: rgb(196, 111, 111);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button-a {
    height: 60px;
    width: 120px;
    background-color: rgb(207, 207, 125);
    font-weight: 800;
    transition: color 1.2s, background-color 1.2s, border-style 1.2s;
}

.button-a:hover {
    background-color: rgb(122, 119, 71);
    color: aliceblue;
    box-shadow: 10px;
    border-style: none;
}

.button-a:focus {
    background-color: rgb(59, 59, 231);
    color: chartreuse;
}