body {
    background-color: pink;
}

.friendly-text {
    color: rgb(151, 7, 7);
    margin-top: 175px;
    font-size: 25px;
    line-height: 30px;
    animation: mymove 5s infinite;
}

@keyframes mymove {
    50% {line-height: 75px;}
}